cloudkilat_internal_sample/odoo_Ecommerce.json
{
  "name": "Azahara-Ecommerce",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ecommerce",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -920,
        860
      ],
      "id": "2ba6218d-8453-415a-a5fd-22cdd93ba5b1",
      "name": "Webhook",
      "webhookId": "ea290cc3-8547-4868-a72b-8feb101f2e92"
    },
    {
      "parameters": {
        "fromEmail": "lisa@isi.co.id",
        "toEmail": "={{ $json.admin.email }}",
        "subject": "=📢 New Order Notification – {{ $json.admin.email }}",
        "html": "=<html>\n  <body style=\"font-family: 'Segoe UI', Tahoma, sans-serif; background-color: #f0f2f5; padding: 20px; margin: 0;\">\n    <div style=\"max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 10px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\">\n      \n      <!-- Judul email -->\n      <h2 style=\"color: #2c3e50; font-size: 24px; margin-top: 0; margin-bottom: 20px;\">🧾 New Order Received</h2>\n\n      <!-- Info dasar terkait pesanan -->\n      <p style=\"font-size: 15px; color: #333;\"><strong>Sales Order Number:</strong> {{ $json.SO }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Order Status:</strong> {{ $json.status }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>SO_ID:</strong> {{ $json.SO_ID }}</p>\n\n      <hr style=\"margin: 25px 0; border: none; border-top: 1px solid #e0e0e0;\">\n\n      <!-- Info customer yang melakukan pemesanan -->\n      <h3 style=\"color: #34495e; font-size: 18px; border-left: 4px solid #4CAF50; padding-left: 10px;\">👤 Customer Information</h3>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Name:</strong> {{ $json.customer.name }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Email:</strong> {{ $json.customer.email }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>WhatsApp:</strong> {{ $json.customer.wa }}</p>\n\n      <!-- Info pengiriman (alamat, metode, kurir) -->\n      <h3 style=\"color: #34495e; font-size: 18px; border-left: 4px solid #2196F3; padding-left: 10px; margin-top: 30px;\">🚚 Shipping Information</h3>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Address:</strong> {{ $json.delivery.address }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Shipping Method:</strong> {{ $json.delivery.method }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Courier:</strong> {{ $json.delivery.courier }}</p>\n\n      <hr style=\"margin: 25px 0; border: none; border-top: 1px solid #e0e0e0;\">\n\n      <!-- Daftar produk yang dipesan (hasil dari renderProduk) -->\n      {{ $json.products_html }}\n\n      <!-- Biaya pengiriman (hasil dari renderDelivery) -->\n      {{ $json.delivery_html }}\n\n      <!-- Ringkasan total pembayaran -->\n      {{ $json.summary_html }}\n\n      <!-- Catatan -->\n      <p style=\"font-size: 13px; color: #999; text-align: center;\">\n        This email was automatically generated by the <strong>Infinysweareid</strong>.\n      </p>\n    </div>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b236cb16-26e1-418c-af1e-f7abfb06df4a",
      "name": "email ordered admin",
      "webhookId": "fbdcadbe-8f54-4a91-965b-2fd7ffb1293d",
      "credentials": {
        "smtp": {
          "id": "tM6AumUIGRK7zTc5",
          "name": "SMTP account-lisa@isi.co.id"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2c58e1e-3ca7-4c86-8a12-7de2f858cd0a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ordered",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        80
      ],
      "id": "b0921687-1108-4d96-9fe5-0893a6f23062",
      "name": "If email ordered"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2c58e1e-3ca7-4c86-8a12-7de2f858cd0a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ordered",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        420
      ],
      "id": "83fc77ba-5074-4d2e-a9e9-ae9f4473d029",
      "name": "If waha ordered"
    },
    {
      "parameters": {
        "fromEmail": "lisa@isi.co.id",
        "toEmail": "={{ $json.customer.email }}",
        "subject": "=Hi {{ $json.customer.name }} Thank you for shopping with us infinysweareid! 🛍️ ",
        "html": "=<html>\n  <body style=\"font-family: 'Segoe UI', Tahoma, sans-serif; background-color: #f6f7fb; padding: 20px; margin: 0;\">\n    <div style=\"max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 12px; box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);\">\n\n      <!-- Judul utama -->\n      <h2 style=\"color: #2c3e50; font-size: 24px; margin-top: 0; margin-bottom: 20px;\">🎉 Thank You for Your Order!</h2>\n      <p style=\"font-size: 15px; color: #444;\">\n        Hi <strong>{{ $json.customer.name }}</strong>,<br><br>\n        We're excited to let you know that we've received your order. Here's a summary of your purchase:\n      </p>\n\n      <!-- Info dasar order -->\n      <p style=\"font-size: 15px; color: #333;\"><strong>Order Number:</strong> {{ $json.SO }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Status:</strong> {{ $json.status }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Order ID (Internal):</strong> {{ $json.SO_ID }}</p>\n\n      <hr style=\"margin: 25px 0; border: none; border-top: 1px solid #e0e0e0;\">\n\n      <!-- Informasi customer -->\n      <h3 style=\"color: #34495e; font-size: 18px; border-left: 4px solid #4CAF50; padding-left: 10px;\">👤 Your Information</h3>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Email:</strong> {{ $json.customer.email }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>WhatsApp:</strong> {{ $json.customer.wa }}</p>\n\n      <!-- Informasi pengiriman -->\n      <h3 style=\"color: #34495e; font-size: 18px; border-left: 4px solid #2196F3; padding-left: 10px; margin-top: 30px;\">🚚 Shipping Information</h3>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Address:</strong> {{ $json.delivery.address }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Shipping Method:</strong> {{ $json.delivery.method }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Courier:</strong> {{ $json.delivery.courier }}</p>\n\n      <hr style=\"margin: 25px 0; border: none; border-top: 1px solid #e0e0e0;\">\n\n      <!-- Produk yang dipesan -->\n      {{ $json.products_html }}\n\n      <!-- Biaya kirim -->\n      {{ $json.delivery_html }}\n\n      <!-- Ringkasan pembayaran -->\n      {{ $json.summary_html }}\n\n      <!-- Penutup -->\n      <p style=\"font-size: 15px; color: #444; margin-top: 30px;\">\n        We’ll notify you again once your order is packed and shipped. If you have any questions, feel free to reply to this email or reach us via WhatsApp.\n      </p>\n\n      <p style=\"font-size: 15px; color: #444;\">Warm regards,<br><strong>Infinysweareid</strong></p>\n\n    </div>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -20,
        220
      ],
      "id": "cb26efce-ec56-4125-a3dd-f4fad6b9faf1",
      "name": "email ordered customer",
      "webhookId": "fbdcadbe-8f54-4a91-965b-2fd7ffb1293d",
      "credentials": {
        "smtp": {
          "id": "tM6AumUIGRK7zTc5",
          "name": "SMTP account-lisa@isi.co.id"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $json.session || \"default\" }}",
        "chatId": "={{ $json.customer.wa }}",
        "text": "=🛒 Order Confirmation\nSales Order: {{ $json.SO }}\nStatus: {{ $json.status }}\nSO ID: {{ $json.SO_ID }}\n\n👤 Customer Information\n• patner_id : {{ $json.customer.partner_id }}\n• Name: {{ $json.customer.name }}\n• Email: {{ $json.customer.email }}\n• WhatsApp: {{ $json.admin.wa }}\n\n🚚 Shipping Details\n• Address: {{ $json.delivery.address }}\n• Method: {{ $json.delivery.method }}\n• Courier: {{ $json.delivery.courier }}\n\n{{ $json.whatsapp_message_products }}\n{{ $json.whatsapp_message_delivery }}\n{{ $json.whatsapp_message_summary }}\n\n\n📩 Thank you for shopping at Infinysweareid!\nYour order has been received and will be processed shortly. Please wait for the next update when your order is shipped. \n",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        60,
        560
      ],
      "id": "f76afab6-c998-4fc8-a55d-17f25fb435aa",
      "name": "whatsapp ordered customer",
      "credentials": {
        "wahaApi": {
          "id": "2jdd8QPxCTqEEVKS",
          "name": "WAHA account-dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $json.session || \"default\" }}",
        "chatId": "={{ $json.admin.wa }}",
        "text": "=🧾 New Order Received\nSales Order: {{ $json.SO }}\nStatus: {{ $json.status }}\nSO ID: {{ $json.SO_ID }}\n\n👤 Customer Information\n• patner_id : {{ $json.customer.partner_id }}\n• Name: {{ $json.customer.name }}\n• Email: {{ $json.customer.email }}\n• WhatsApp: {{ $json.admin.wa }}\n\n🚚 Shipping Details\n• Address: {{ $json.delivery.address }}\n• Method: {{ $json.delivery.method }}\n• Courier: {{ $json.delivery.courier }}\n\n{{ $json.whatsapp_message_products }}\n{{ $json.whatsapp_message_delivery }}\n{{ $json.whatsapp_message_summary }}\n📩 New order from Infinysweareid has been received! Please pack it immediately. ",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        60,
        360
      ],
      "id": "aa116bb8-5607-46f3-b345-4864d01d0749",
      "name": "whatsapp ordered admin",
      "credentials": {
        "wahaApi": {
          "id": "2jdd8QPxCTqEEVKS",
          "name": "WAHA account-dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2c58e1e-3ca7-4c86-8a12-7de2f858cd0a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "delivery",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        760
      ],
      "id": "d5f6ceba-d619-482c-adb4-b095898c1117",
      "name": "If email delivery"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2c58e1e-3ca7-4c86-8a12-7de2f858cd0a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "delivery",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        940
      ],
      "id": "1b27c25d-3d8a-4a6f-b15d-e1d03a1f2337",
      "name": "If waha delivery"
    },
    {
      "parameters": {
        "fromEmail": "=lisa@isi.co.id",
        "toEmail": "={{ $json.customer.email }}",
        "subject": "={{ $json.customer.name }} Order is on Its Way! 🚚 – infinysweare.id",
        "html": "=<html>\n  <body style=\"font-family: 'Segoe UI', Tahoma, sans-serif; background-color: #f6f7fb; padding: 20px; margin: 0;\">\n    <div style=\"max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 12px; box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);\">\n\n      <!-- Judul utama -->\n      <h2 style=\"color: #2c3e50; font-size: 24px; margin-top: 0; margin-bottom: 20px;\">📦 Your Order is On the Way!</h2>\n      <p style=\"font-size: 15px; color: #444;\">\n        Hi <strong>{{ $json.customer.name }}</strong>,<br><br>\n        Great news! Your order has been shipped and is now on its way to you. Here’s the summary:\n      </p>\n\n      <!-- Info dasar order -->\n      <p style=\"font-size: 15px; color: #333;\"><strong>Order Number:</strong> {{ $json.SO }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Status:</strong> {{ $json.status }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Order ID (Internal):</strong> {{ $json.SO_ID }}</p>\n\n      <hr style=\"margin: 25px 0; border: none; border-top: 1px solid #e0e0e0;\">\n\n      <!-- Informasi customer -->\n      <h3 style=\"color: #34495e; font-size: 18px; border-left: 4px solid #4CAF50; padding-left: 10px;\">👤 Shipping Information</h3>\n      <p style=\"font-size: 15px; color: #333;\"><strong>To:</strong> {{ $json.customer.name }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Email:</strong> {{ $json.customer.email }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>WhatsApp:</strong> {{ $json.customer.wa }}</p>\n\n      <!-- Info pengiriman -->\n      <h3 style=\"color: #34495e; font-size: 18px; border-left: 4px solid #2196F3; padding-left: 10px; margin-top: 30px;\">🚚 Shipping Information</h3>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Address:</strong> {{ $json.delivery.address }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Shipping Method:</strong> {{ $json.delivery.method }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Courier:</strong> {{ $json.delivery.courier }}</p>\n\n      <hr style=\"margin: 25px 0; border: none; border-top: 1px solid #e0e0e0;\">\n\n      <!-- Produk yang dipesan -->\n      {{ $json.products_html }}\n\n      <!-- Biaya kirim -->\n      {{ $json.delivery_html }}\n\n      <!-- Ringkasan pembayaran -->\n      {{ $json.summary_html }}\n\n      <!-- Penutup -->\n<p style=\"font-size: 15px; color: #444; margin-top: 30px;\"> Your order has been shipped and is on its way. Please wait patiently until it arrives at your destination. 😊 </p> <p style=\"font-size: 15px; color: #444;\"> Thank you for shopping with us!<br><strong>infinysweareid</strong> </p>\n    </div>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        20,
        760
      ],
      "id": "e498e825-0691-49ec-b21b-63319d798a4e",
      "name": "email delivery customer",
      "webhookId": "fbdcadbe-8f54-4a91-965b-2fd7ffb1293d",
      "credentials": {
        "smtp": {
          "id": "tM6AumUIGRK7zTc5",
          "name": "SMTP account-lisa@isi.co.id"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $json.session || \"default\" }}",
        "chatId": "={{ $json.customer.wa }}",
        "reply_to": "=",
        "text": "=📦 Your Order is On Its Way!\nSales Order: {{ $json.SO }}\nStatus: {{ $json.status }}\nSO ID: {{ $json.SO_ID }}\n\n👤 Customer Information\n• patner_id : {{ $json.customer.partner_id }}\n• Name: {{ $json.customer.name }}\n• Email: {{ $json.customer.email }}\n• WhatsApp: {{ $json.admin.wa }}\n\n🚚 Shipping Details\n• Address: {{ $json.delivery.address }}\n• Method: {{ $json.delivery.method }}\n• Courier: {{ $json.delivery.courier }}\n\n{{ $json.whatsapp_message_products }}\n{{ $json.whatsapp_message_delivery }}\n{{ $json.whatsapp_message_summary }}\n\n🙏 Thank you for shopping at Infinysweareid!\nYour order has been shipped and is on its way. We hope it arrives safely and swiftly. Let us know if you need any help!",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        20,
        940
      ],
      "id": "800e73e7-fd0d-452a-9bf7-778716e35bb6",
      "name": "whatsapp delivery customer",
      "credentials": {
        "wahaApi": {
          "id": "2jdd8QPxCTqEEVKS",
          "name": "WAHA account-dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2c58e1e-3ca7-4c86-8a12-7de2f858cd0a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "accepted",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        1160
      ],
      "id": "f50b5439-a731-4f33-ab78-c19f4a409c79",
      "name": "If email accepted"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2c58e1e-3ca7-4c86-8a12-7de2f858cd0a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "accepted",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        1340
      ],
      "id": "82e143b3-06ea-4ece-b4c5-120cecd7c031",
      "name": "If waha accepted"
    },
    {
      "parameters": {
        "fromEmail": "lisa@isi.co.id",
        "toEmail": "={{ $json.customer.email }}",
        "subject": "=Yay! The package from Infinysweare.id has arrived {{ $json.customer.name }} ✨ ",
        "html": "=<html>\n  <body style=\"font-family: 'Segoe UI', Tahoma, sans-serif; background-color: #f6f7fb; padding: 20px; margin: 0;\">\n    <div style=\"max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 12px; box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);\">\n\n      <!-- Judul utama -->\n      <h2 style=\"color: #2c3e50; font-size: 24px; margin-top: 0; margin-bottom: 20px;\">😊 Order Confirmed – Thank You!</h2>\n      <p style=\"font-size: 15px; color: #444;\">\n        Hi <strong>{{ $json.customer.name }}</strong>,<br><br>\n        We’re happy to let you know that your order has been accepted and is being prepared. Here’s your order summary:\n      </p>\n\n      <!-- Info dasar order -->\n      <p style=\"font-size: 15px; color: #333;\"><strong>Order Number:</strong> {{ $json.SO }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Status:</strong> {{ $json.status }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Order ID (Internal):</strong> {{ $json.SO_ID }}</p>\n\n      <hr style=\"margin: 25px 0; border: none; border-top: 1px solid #e0e0e0;\">\n\n      <!-- Informasi customer -->\n      <h3 style=\"color: #34495e; font-size: 18px; border-left: 4px solid #4CAF50; padding-left: 10px;\">👤 Customer Info</h3>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Name:</strong> {{ $json.customer.name }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Email:</strong> {{ $json.customer.email }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>WhatsApp:</strong> {{ $json.customer.wa }}</p>\n\n      <!-- Info pengiriman -->\n      <h3 style=\"color: #34495e; font-size: 18px; border-left: 4px solid #2196F3; padding-left: 10px; margin-top: 30px;\">🚚 Shipping Information</h3>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Address:</strong> {{ $json.delivery.address }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Shipping Method:</strong> {{ $json.delivery.method }}</p>\n      <p style=\"font-size: 15px; color: #333;\"><strong>Courier:</strong> {{ $json.delivery.courier }}</p>\n\n      <hr style=\"margin: 25px 0; border: none; border-top: 1px solid #e0e0e0;\">\n      <!-- Produk yang dipesan -->\n      {{ $json.products_html }}\n\n      <!-- Biaya kirim -->\n      {{ $json.delivery_html }}\n\n      <!-- Ringkasan pembayaran -->\n      {{ $json.summary_html }}\n\n      <!-- Penutup -->\n      <p style=\"font-size: 15px; color: #444; margin-top: 30px;\">\n        We’ll notify you again once your order has been shipped. Stay tuned!\n        <br>If you have any questions, don’t hesitate to reach out.\n      </p>\n\n      <p style=\"font-size: 15px; color: #444;\">Thanks for shopping at <strong>infinysweareid</strong> 💚</p>\n      </p>\n    </div>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        20,
        1140
      ],
      "id": "80d7cfb5-3b13-421d-8085-494a60fb7fc9",
      "name": "email accepted customer",
      "webhookId": "fbdcadbe-8f54-4a91-965b-2fd7ffb1293d",
      "credentials": {
        "smtp": {
          "id": "tM6AumUIGRK7zTc5",
          "name": "SMTP account-lisa@isi.co.id"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $json.session || \"default\" }}",
        "chatId": "={{ $json.customer.wa }}",
        "reply_to": "=",
        "text": "=😊 Your Order Has Been Accepted!\nSales Order: {{ $json.SO }}\nStatus: {{ $json.status }}\nSO ID: {{ $json.SO_ID }}\n\n👤 Customer Information\n• patner_id : {{ $json.customer.partner_id }}\n• Name: {{ $json.customer.name }}\n• Email: {{ $json.customer.email }}\n• WhatsApp: {{ $json.admin.wa }}\n\n🚚 Shipping Details\n• Address: {{ $json.delivery.address }}\n• Method: {{ $json.delivery.method }}\n• Courier: {{ $json.delivery.courier }}\n\n{{ $json.whatsapp_message_products }}\n{{ $json.whatsapp_message_delivery }}\n{{ $json.whatsapp_message_summary }}\n\n🙏 Thank you for shopping at Infinysweareid. We’re excited to serve {{ $json.customer.name }}!",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        20,
        1320
      ],
      "id": "fa4efcc2-4e29-4978-acfc-0dd9689b9c1d",
      "name": "whatsapp accepted customer",
      "credentials": {
        "wahaApi": {
          "id": "2jdd8QPxCTqEEVKS",
          "name": "WAHA account-dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari input pertama (mendukung Postman & Xendit)\nconst input = $input.first();\nconst data = input.json.body || input.json;\n\n// 🛍️ Produk\nfunction renderProduk(products) {\n  let html = '';\n  for (const item of products) {\n    const p = item.product || {};\n    const qty = Number(p.QTY || 0);\n    const price = Number(p.price || 0);\n    const ppn = Number(p.PPN || 0);\n    const total = Number(p.total || 0);\n\n    html += `\n      <div style=\"\n        font-family: 'Inter', 'Segoe UI', sans-serif;\n        font-size: 14px;\n        background-color: #f9fafb;\n        border: 1px solid #e5e7eb;\n        border-radius: 12px;\n        padding: 16px 20px;\n        margin-bottom: 16px;\n        box-shadow: 0 2px 6px rgba(0,0,0,0.04);\">\n\n        <div style=\"font-weight: 600; font-size: 15px; color: #111827; margin-bottom: 12px;\">\n          ${p.name || '-'}\n        </div>\n\n        <div style=\"display: flex; flex-wrap: wrap; gap: 20px; margin-bottom: 10px;\">\n          <div style=\"min-width: 80px;\">\n            <div style=\"color: #6b7280;\">Qty</div>\n            <div style=\"color: #111827;\">${qty}</div>\n          </div>\n        </div>\n\n        <div style=\"display: flex; flex-wrap: wrap; gap: 20px;\">\n          <div style=\"min-width: 130px;\">\n            <div style=\"color: #6b7280;\">Harga</div>\n            <div style=\"color: #111827;\">Rp${price.toLocaleString('id-ID')}</div>\n          </div>\n          <div style=\"min-width: 100px;\">\n            <div style=\"color: #6b7280;\">PPN</div>\n            <div style=\"color: #111827;\">Rp${ppn.toLocaleString('id-ID')}</div>\n          </div>\n        </div>\n\n        <div style=\"margin-top: 14px; text-align: right;\">\n          <span style=\"\n            display: inline-block;\n            background-color: #d1fae5;\n            color: #047857;\n            padding: 6px 14px;\n            border-radius: 10px;\n            font-weight: 600;\n            font-size: 14px;\n            box-shadow: 0 1px 2px rgba(0,0,0,0.04);\">\n            💸 Total: Rp${total.toLocaleString('id-ID')}\n          </span>\n        </div>\n      </div>\n    `;\n  }\n  return html;\n}\n\n// 🚚 Delivery \nfunction renderDelivery(items) {\n  let html = '';\n  for (const item of items) {\n    const qty = Number(item.QTY || 0);\n    const price = Number(item.price || 0);\n    const ppn = Number(item.PPN || 0);\n    const total = Number(item.total || 0);\n\n    html += `\n      <div style=\"font-family:'Inter','Segoe UI',sans-serif'; font-size:14px; margin-bottom:12px; padding:4px 0;\">\n        <div style=\"font-weight:600; font-size:15px; color:#111827; margin-bottom:2px;\">${item.name || '-'}</div>\n        <table style=\"width:100%; border-collapse:collapse;\">\n          <tr><td style=\"padding:2px 4px; color:#6b7280;\">ID</td><td style=\"padding:2px 4px; color:#111827; text-align:right;\">${item.id || '-'}</td></tr>\n          <tr><td style=\"padding:2px 4px; color:#6b7280;\">Qty</td><td style=\"padding:2px 4px; color:#111827; text-align:right;\">${qty}</td></tr>\n          <tr><td style=\"padding:2px 4px; color:#6b7280;\">Harga</td><td style=\"padding:2px 4px; color:#111827; text-align:right;\">${price.toLocaleString('id-ID')}</td></tr>\n          <tr><td style=\"padding:2px 4px; color:#6b7280;\">PPN</td><td style=\"padding:2px 4px; color:#111827; text-align:right;\">${ppn.toLocaleString('id-ID')}</td></tr>\n          <tr><td style=\"padding:4px 4px; color:#111827; font-weight:bold;\">Total</td><td style=\"padding:4px 4px; color:#059669; font-weight:bold; text-align:right;\">${total.toLocaleString('id-ID')}</td></tr>\n        </table>\n      </div>\n    `;\n  }\n  return html;\n}\n\n// HTML judul \nlet productsHtml = '';\nif ((data.products || []).length > 0) {\n  productsHtml += `<hr style=\"border:0; border-top:1px dashed #d1d5db; margin:24px 0;\">`;\n  productsHtml += `<div style=\"font-size:16px; font-weight:600; color:#111827; margin:16px 0 8px; font-family:'Inter','Segoe UI',sans-serif;\">🛍️ Product Details</div>`;\n  productsHtml += renderProduk(data.products);  \n}\n\nlet deliveryHtml = '';\nif ((data.delivery_items || []).length > 0) {\n  deliveryHtml += `<hr style=\"border:0; border-top:1px dashed #d1d5db; margin:24px 0;\">`;\n  deliveryHtml += `<div style=\"font-size:16px; font-weight:600; color:#111827; margin:16px 0 8px; font-family:'Inter','Segoe UI',sans-serif;\">🚚 Delivery Fee</div>`;\n  deliveryHtml += renderDelivery(data.delivery_items);\n}\n\n// total untuk Xendit\nconst totalAmount = Number(data.amount || 0);\nconst summaryHtml = `\n  <hr style=\"border:0; border-top:1px dashed #d1d5db; margin:24px 0;\">\n  <div style=\"font-size:16px; font-weight:600; color:#111827; margin:16px 0 8px; font-family:'Inter','Segoe UI',sans-serif;\">💳 Payment Summary</div>\n  <table style=\"width:100%; border-collapse:collapse; margin-bottom:12px;\">\n    <tr>\n      <td style=\"padding:6px 8px; color:#111827; font-weight:bold; font-size:15px;\">Total Payment</td>\n      <td style=\"padding:6px 8px; color:#111827; font-weight:bold; font-size:15px; text-align:right;\">Rp${totalAmount.toLocaleString('id-ID')}</td>\n    </tr>\n  </table>\n`;\n\nreturn [\n  {\n    json: {\n      ...data,\n      products_html: productsHtml,\n      delivery_html: deliveryHtml,\n      summary_html: summaryHtml\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        680
      ],
      "id": "e622c4e4-23f5-4125-8267-3470da8a77db",
      "name": "Function Code email"
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari input pertama (Xendit / Postman)\nconst input = $input.first();\nconst data = input.json.body || input.json;\n\n// Variabel untuk bagian pesan\nlet productsText = '';\nlet deliveryText = '';\nlet summaryText = '';\n\n// 🛍️ Produk yang Dipesan\nfunction renderProdukText(products) {\n  if (!Array.isArray(products) || products.length === 0) {\n    return '_Tidak ada produk yang dipesan._\\n';\n  }\n\n  let text = '*🛍️ ORDERED PRODUCTS:*\\n';\n  text += '────────────────────────────\\n';\n\n  products.forEach((item, index) => {\n    const p = item.product || {};\n    const qty = Number(p.QTY || 0);\n    const price = Number(p.price || 0);\n    const ppn = Number(p.PPN || 0);\n    const total = Number(p.total || 0);\n\n    text += `*${index + 1}. ${p.name || '-'}*\\n`;\n    text += `Qty      : ${qty}\\n`;\n    text += `Price    : Rp${price.toLocaleString('id-ID')}\\n`;\n    text += `VAT      : Rp${ppn.toLocaleString('id-ID')}\\n`;\n    text += `Subtotal : *Rp${total.toLocaleString('id-ID')}*\\n`;\n    text += '────────────────────────────\\n';\n  });\n\n  return text;\n}\n\n// 🚚 Info Pengiriman\nfunction renderDeliveryText(items) {\n  if (!Array.isArray(items) || items.length === 0) {\n    return '_Tidak ada biaya pengiriman._\\n';\n  }\n\n  let text = '*🚚 SHIPPING DETAILS:*\\n';\n  text += '────────────────────────────\\n';\n\n  items.forEach((item, index) => {\n    const qty = Number(item.QTY || 0);\n    const price = Number(item.price || 0);\n    const ppn = Number(item.PPN || 0);\n    const total = Number(item.total || 0);\n    const id = item.id || '-';\n\n    text += `*${index + 1}. ${item.name || '-'}*\\n`;\n    text += `ID/Fee    : ${id}\\n`;\n    text += `Qty       : ${qty}\\n`;\n    text += `Price     : Rp${price.toLocaleString('id-ID')}\\n`;\n    text += `VAT       : Rp${ppn.toLocaleString('id-ID')}\\n`;\n    text += `Subtotal  : *Rp${total.toLocaleString('id-ID')}*\\n`;\n    text += '────────────────────────────\\n';\n  });\n\n  return text;\n}\n\n// 💳 Ringkasan Pembayaran\nfunction renderSummaryText(amount) {\n  const totalAmount = Number(amount || 0);\n\n  let text = '*💳 TOTAL PAYMENT:*\\n';\n  text += '────────────────────────────\\n';\n  text += `➤ *Rp${totalAmount.toLocaleString('id-ID')}*\\n`;\n\n  return text;\n}\n\n// Gabungkan semua bagian pesan\nproductsText = renderProdukText(data.products);\ndeliveryText = renderDeliveryText(data.delivery_items);\nsummaryText = renderSummaryText(data.amount);\n\n// Output pesan lengkap untuk WhatsApp\nreturn [\n  {\n    json: {\n      ...data,\n      whatsapp_message_products: productsText,\n      whatsapp_message_delivery: deliveryText,\n      whatsapp_message_summary: summaryText\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        1020
      ],
      "id": "c3d4edcf-0265-4538-8b43-1d02414e9cc2",
      "name": "Function code whatsapp"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Function Code email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function code whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email ordered": {
      "main": [
        [
          {
            "node": "email ordered admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "email ordered customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If waha ordered": {
      "main": [
        [
          {
            "node": "whatsapp ordered admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "whatsapp ordered customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email delivery": {
      "main": [
        [
          {
            "node": "email delivery customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If waha delivery": {
      "main": [
        [
          {
            "node": "whatsapp delivery customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email accepted": {
      "main": [
        [
          {
            "node": "email accepted customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If waha accepted": {
      "main": [
        [
          {
            "node": "whatsapp accepted customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Code email": {
      "main": [
        [
          {
            "node": "If email ordered",
            "type": "main",
            "index": 0
          },
          {
            "node": "If email delivery",
            "type": "main",
            "index": 0
          },
          {
            "node": "If email accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function code whatsapp": {
      "main": [
        [
          {
            "node": "If waha ordered",
            "type": "main",
            "index": 0
          },
          {
            "node": "If waha delivery",
            "type": "main",
            "index": 0
          },
          {
            "node": "If waha accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c384d6c-0184-458a-94e7-b232148346bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a557bfc962390eae179faa8b9f45afcfd3a1e25a6c9fb6eeee9854eef6667a6"
  },
  "id": "u3j9Z6AdSQnYWDwN",
  "tags": []
}